@import './base.css';

#app {
  width: 100vw;
  margin: 0 auto;
  font-weight: normal;
}

.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.summary {
  flex-wrap: wrap;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    padding: 20px;
  }
}
